.following-menu {
    box-sizing: border-box;

    position: absolute;
    width: 250px;
    right: 0px;
    top: 45px;
    bottom: 0px;
    
    /* Outline Color */
    
    border-left: 1px solid #E6E6E6;
}

.following-header {
    position: absolute;
    width: 103px;
    height: 28px;
    left: 20px;
    top: 8px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 0px;
    
    color: #000000;
}

.following-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    
    position: absolute;
    width: 210px;
    height: fit-content;
    left: 20px;
    top: 56px;
}

.following-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    
    width: fit-content;
    height: 16px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.following-item-icon {
    width: 18px;
    height: 16px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;

    background-image: url("../../../../public/images/twitter-icon.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.following-item-text {
    width: auto;
    height: 16px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    
    color: #000000;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}